/* Styles généraux */
body {
    font-family: Arial, sans-serif;
}

/* Header */
#header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

#header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header-content {
    margin-left: 20px;
}

.header-content h1 {
    margin-bottom: 0;
}

/* Navigation */
.navbar-nav .nav-item {
    margin-right: 20px;
}

/* Sections */
.section-title {
    margin-bottom: 30px;
    color: #333;
    font-size: 32px;
}

/* Justification du texte dans les sections */
section {
    text-align: justify;
}

/* Footer */
#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#footer p {
    margin-bottom: 0;
}

#footer .credits a {
    color: #fff;
}

#footer .credits a:hover {
    color: #f39c12;
}
