/* Styles généraux */
body {
    font-family: Arial, sans-serif;
}

/* Animation entre les sections */
.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.section.active {
    opacity: 1;
    transform: translateY(0);
}

/* Styles pour la section Import/Export */
#import-export {
    background-color: #f8f9fa;
}

#import-export h2 {
    color: #007bff;
}

/* Styles pour la section Construction */
#construction {
    background-color: #e9ecef;
}

#construction h2 {
    color: #dc3545;
}

/* Styles pour la section Menuiserie Métallique */
#menuiserie {
    background-color: #f8f9fa;
}

#menuiserie h2 {
    color: #28a745;
}

/* Styles pour la section Prestations de Services */
#services {
    background-color: #e9ecef;
}

#services h2 {
    color: #17a2b8;
}

/* Styles pour la section Nettoyage & Entretien */
#nettoyage {
    background-color: #f8f9fa;
}

#nettoyage h2 {
    color: #ffc107;
}

/* Styles spécifiques pour les images des sections */
.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover; /* Remplit l'espace disponible tout en préservant les proportions */
    border-radius: 10px; /* Ajoute des coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre douce */
}
